[Desktop Entry]
Type=Application
Version=1.5
Name=OpenRGB (profile)
Comment=OpenRGB tray, load profile "my profile"
Icon=org.openrgb.OpenRGB
StartupWMClass=openrgb
TryExec=openrgb
Exec=openrgb --startminimized --profile "my profile"
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
